# Ignore data files but keep folder structure
data/**/*
!data/**/
!data/**/.gitkeep
!data/results/README.md

# Ignore doc folder
docs/

# Ignore Python cache
__pycache__/

# Ignore specific files
*.pdf

extracted_text.txt
requirements.txt
prompts.txt
scripts/preprocessing/rasterization.py


# (optional) ignore notebooks checkpoints
.ipynb_checkpoints/

# (optional) ignore virtual environments
venv/
.env/
